Options +FollowSymLinks
RewriteEngine On
RewriteBase /


RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d




RewriteRule ^demo$                                                        ./private/demo.php


RewriteRule ^rezervasyon$                                                  ./private/rezervasyon/add.php


RewriteRule ^siparis-onay/order-detail/order-gelen$                        ./order_confirmation/order_detail/order_user_detail.php?order=gelen
RewriteRule ^siparis-onay/order-detail/order-onay$                         ./order_confirmation/order_detail/order_user_detail.php?order=onay
RewriteRule ^siparis-onay/order-detail/order-iptal$                        ./order_confirmation/order_detail/order_user_detail.php?order=iptal
RewriteRule ^siparis-onay/order-detail$                                    ./order_confirmation/order_detail/order_detail.php

RewriteRule ^siparis-onay/rezervasyon-detail/rezervasyon-gelen$            ./order_confirmation/order_detail/rezervasyon_detail.php?ord=gelen
RewriteRule ^siparis-onay/rezervasyon-detail/rezervasyon-onay$             ./order_confirmation/order_detail/rezervasyon_detail.php?ord=onay
RewriteRule ^siparis-onay/rezervasyon-detail/rezervasyon-iptal$            ./order_confirmation/order_detail/rezervasyon_detail.php?ord=iptal
RewriteRule ^siparis-onay/rezervasyon-detail$                              ./order_confirmation/order_detail/rezervasyon.php
RewriteRule ^siparis-onay$                                                 ./order_confirmation/index.php




RewriteRule ^api/menu$                                                     ./public/product/product.php?menu=ok
RewriteRule ^api/product/([a-z0-9_-]+)$                                    ./public/product/product.php?productName=$1
RewriteRule ^api/category/([a-z0-9_-]+)/([a-z0-9_-]+)$                     ./public/product/product.php?categoryName=$1&page=$2

RewriteRule ^order$                                                        ./private/orders/order.php


RewriteRule ^emailregister$                                                ./private/email/email.php


RewriteRule ^user/login$                                                   ./private/Users/Login.php
RewriteRule ^user/Logout$                                                  ./private/Users/Logout.php
RewriteRule ^user/register$                                                ./private/Users/Add.php



RewriteRule ^admin/login$                                                   ./private/Admin/Login.php
RewriteRule ^admin/Logout$                                                  ./private/Admin/Logout.php
RewriteRule ^admin/add/product$                                             ./private/Admin/product/product.php


#dizinleri listelemesi engellenir
Options -Indexes